<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>first html file</title>
</head>
<body bgcolor="red">
<h1>welcome {{name}} first Django program .</h1>
<!--<p>;iuiwgakrgnaerbkjakjgnboiszbklnlzkbnlnfbl nznnznzn </p>-->
<form  method='get'>


    <h1>enter 1st number : </h1> <textarea  name="num1" style="margin: 0px; width: 246px; height: 49px;" > </textarea><br>
    <h1>enter 2st number : </h1> <textarea  name="num2" style="margin: 0px; width: 247px; height: 55px;"> </textarea><br>



    <button  type='submit' value="add" formaction="/c/add">  <h1>add</h1>  </button>
    <button  type='submit' value="sub" formaction="/c/sub">  <h1>sub</h1>  </button>
    <button  type='submit' value="div" formaction="/c/div" > <h1>div</h1>  </button>
    <button  type='submit' value="mul" formaction="/c/mul" > <h1>mul</h1>  </button>



</from>
</body>
</html>